{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/add_parameters.css' %}">
{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="post col-8">
            <div class="p-3 mb-2">
                <div id="params">
                    <h4>Добавление дополнительных параметров для интервенции "{{ interv.name }}"</h4>
                <hr>
                    <div class="col-xs-12">
                        <a href="#">
                            <span class="fas fa-plus add_subparam"></span>
                        </a>
                    </div>
                    <div class="subparam d-block" id="subparam_1">
                        <div class="row" style="margin-left: 1.5em;">
                            <div class="form-group col-md-6">
                                <label  style="font-size: 19px;">Название
                                    <input class="form-control param_name" type="text" id="sub_text">
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label  style="font-size: 19px;">Тип данных
                                    <select style="font-weight: lighter"
                                            class="form-control type_subparam"
                                            id="type_subparam">
                                        {% for t in types %}
                                            <option value="{{ t | first }}">{{ t | last }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <a href="#" class="close delete_subparam" aria-label="Close" role="button">&times;</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="submit" name="singlebutton" class="btn btn-primary">Далее</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            $('.container-fluid').on('click', '.delete_subparam', function () {
                var id = $(this).parent().parent().attr("id");
                var total_element = $("#" + id + " .subparam").length;
                if (total_element !== 1) {
                    $(this).parent().parent().remove();
                }
            });

            $('.container-fluid').on('click', '.add_subparam', function () {
                var lastid = $(".subparam:last").attr("id");
                console.log(lastid);
                var id = "subparam_" + (Number(lastid.split('_')[1]) + 1);
                $("#" + $("#" + $(this).parent().parent().parent().attr("id") + " .subparam:last").attr("id")).after("<div class=\"subparam d-block\" id=\"" + id + "\"></div>");
                $("#" + id).append(
                    "                <div class=\"row\" style=\"margin-left: 1.5em;\">\n" +
                    "                    <div class=\"form-group col-md-6\">\n" +
                    "                        <label style=\"font-size:19px;\">Название\n" +
                    "                            <input style=\"font-weight: lighter\" class=\"form-control param_name\" type=\"text\"\n" +
                    "                                   id=\"sub_text\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-4\">\n" +
                    "                        <label style=\"font-size: 19px;\">Тип данных\n" +
                    "                            <select style=\"font-weight: lighter\" class=\"form-control type_subparam\"\n" +
                    "                                    id=\"type_subparam\">\n" +
                    "                                {% for t in types %}\n"+
                        "                                    <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                {% endfor %}\n" +
                    "                            </select>\n" +
                    "\n" +
                    "                        </label>\n" +
                    "                                <a href=\"#\" class=\"close delete_subparam\" aria-label=\"Close\" role=\"button\">&times;</a>\n" +

                    "                    </div>\n" +
                    "                </div>");

            });

            $(".container-fluid").on('click', '#submit', function () {
                var subparams = $(".subparam");
                var data_subparams = [];
                for (j = 0; j < subparams.length; j++) {
                    var tmp = {
                        "name": $(subparams[j]).find("#sub_text").val(),
                        "type_subparam": $(subparams[j]).find("#type_subparam").val(),
                    };
                    data_subparams.push(tmp);
                }
                var result = {"subparams": data_subparams, csrfmiddlewaretoken: '{{ csrf_token }}'};
                $.ajax({
                    type: "post",
                    data: result,
                    success: function (response) {
                        window.location = "http://127.0.0.1:8000/intervention/".concat({{ interv.pk }}).concat("/fill_params");
                    }
                });
            });

        });
    </script>

{% endblock %}