{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base_criteria.css' %}">
{% endblock %}

{% block content %}
    <form name="form" method="post">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="post col-10 constructor bg-light text-dark">
                <h4>Создание формулы для расчета эффективности</h4>
                <hr>
                <div class="row">
                    <div class="p-3 mb-2 col-6">
                        <h5>Формула</h5>
                        <label style="font-size: 20px;">
                        <textarea style="resize: none; font-size: 20px;" name="formula_show "
                                  class="form-control rounded-0"
                                  rows="5"
                                  cols="60"
                                  id="desc_show" readonly></textarea>

                        </label>

                        <label hidden>Формула для бэка
                            <textarea name="formula" class="form-control rounded-0" rows="5" cols="40"
                                      id="desc" readonly></textarea>

                        </label>
                        <br>
                        <button style="font-size: 20px;" type="button" class="back btn btn-danger" id="back">
                            <i class="fas fa-arrow-left"></i> Назад
                        </button>
                        <br><br>
                        <hr>

                        <div class="save-btn">
                            <button type="submit" class="btn btn-primary labelText">
                                <span style="font-size: 18px;">Сохранить</span>
                            </button>
                        </div>
                    </div>

                    <div class="p-3 mb-3 col-6 tool">
                        <h5>Параметры критерия</h5>
                        {% for p in params %}
                            {% if p.type == 1 %}
                                <button type="button" style="font-size: 20px;" class="tool btn btn-info param"
                                        id="{{ p.name }} ">{{ p.name }}</button>
                            {% endif %}
                        {% endfor %}

                        <div class="oper">
                            <h5>Операции</h5>
                            <button type="button" class="tool btn sign for_sign" id="plus">+</button>
                            <button type="button" class="tool btn sign for_sign" id="minus">-</button>
                            <button type="button" class="tool btn sign for_sign" id="div">/</button>
                            <button type="button" class="tool btn sign for_sign" id="mult">*</button>
                            <button type="button" class="tool btn for_sign" id="left_branch">(</button>
                            <button type="button" class="tool btn for_sign" id="right_branch">)</button>
                        </div>

                        <div class="func">
                            <h5>Функции</h5>
                            {% for f in funcs %}
                                <button type="button" style="font-size: 20px;" class="tool btn btn-warning"
                                        id="{{ f }}">{{ f }}</button>
                            {% endfor %}
                        </div>

                        <div class="numb">
                            <h5>Числа</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <input style="font-size: 20px;" class="form-control" type="number" id="field_numb">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" style="font-size: 20px;" class="tool btn btn-warning"
                                            id="numb_button">Добавить
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5 div-err" hidden>
                                    <h4>Введите число</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeModal" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Выберите параметры для функции <span id="insert"></span></h3>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkAll">
                            <label style="font-size: 20px;" class="form-check-label" for="checkAll">Выбрать все</label>
                        </div>
                        {% block cycle_popup %}

                        {% endblock %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="apply_checkbox"><span
                            style="font-size: 18px;">Применить</span>
                    </button>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            var symbols = ['+', '-', '/', '*'];
            var left_branch = '(';
            var right_branch = ')';
            var array = [];
            var display = [];
            $(document).on('click', '.param', function () {
                //var str = "a_" + $(this).attr("id") + " ";
                var str = $(this).attr("id");
                if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                    || (left_branch === array[array.length - 1][0])) {
                    array.push(str);
                    display.push($(this).text() + " ");
                }
                disabled_button();
                full_textarea();
            });

            $(".oper").on('click', '.btn.sign', function () {
                if ((-1 === symbols.indexOf(array[array.length - 1][0])) && (left_branch !== array[array.length - 1][0])) {
                    var el = $(this).text() + " ";
                    array.push(el);
                    display.push(el);
                }
                $(".tool").attr("disabled", false);
                $("#right_branch").attr("disabled", true);
                $(".sign").attr("disabled", true);
                full_textarea();
            });

            $("#left_branch").click(function () {
                if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                    || (left_branch === array[array.length - 1][0])) {
                    array.push("( ");
                    display.push("( ");
                }
                $(".tool").attr("disabled", false);
                $("#right_branch").attr("disabled", true);
                $(".sign").attr("disabled", true);
                full_textarea();
            });

            $("#right_branch").click(function () {
                if (((-1 === symbols.indexOf(array[array.length - 1][0])) || (right_branch === array[array.length - 1][0]))
                    && left_branch !== array[array.length - 1][0]) {
                    array.push(") ");
                    display.push(") ");
                }
                disabled_button();
                full_textarea();
            });

            $("#back").click(function () {
                array = array.slice(0, array.length - 1);
                display = display.slice(0, array.length - 1);
                full_textarea();
            });

            $("#numb_button").click(function () {
                var new_el = $('#field_numb').val();
                if (new_el === "") {
                    $(".div-err").show();
                } else {
                    $(".div-err").hide();
                    if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                        || (left_branch === array[array.length - 1][0])) {
                        array.push(new_el + " ");
                        display.push(new_el + " ");
                        $('#field_numb').val("");
                    }
                }
                disabled_button();
                full_textarea();
            });

            $(".func > .btn").click(function () {
                if (array.length === 0 || (-1 !== symbols.indexOf(array[array.length - 1][0]))
                    || (left_branch === array[array.length - 1][0])) {
                    $("#insert").append($(this).text());
                    $('#myModal').modal('show');
                }
            });

            function disabled_button() {
                $(".tool").attr("disabled", false);
                $(".param").attr("disabled", true);
                $(".func > .btn").attr("disabled", true);
                $("#numb_button").attr("disabled", true);
                $("#left_branch").attr("disabled", true);
            }

            function full_textarea() {
                var i;
                var content = "";
                for (i = 0; i < array.length; i++) {
                    content += array[i];
                }
                $("#desc").val(content);
                content = "";
                for (i = 0; i < display.length; i++) {
                    content += display[i];
                }
                $("#desc_show").val(content);
            }
        });
    </script>
{% endblock %}