{% extends 'project/base.html' %}

{% block content %}
    <h1>Добавление интервенции</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="my-button" class="save btn btn-default">Save</button>
        </a>
        <a href="#" style="font-size: 24px">
            <span class="fas fa-plus add_etap"></span>
        </a>
        <div class="subparam d-block" id="subparam_1">
            <a href="#" class="close delete_subparam" style="color: red;font-size: 34px; " aria-label="Close"
               role="button">&times;</a>
            <div class="row" style="margin-left: 10px;">
                <div class="form-group col-md-5">
                    <label style="font-size: 20px;">Название
                        <input style="font-size: 20px; font-weight: lighter" class="form-control" type="text"
                               id="sub_text">
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <label style="font-size: 20px;">Тип данных
                        <select style="font-size: 20px; font-weight: lighter" class="form-control type_subparam"
                                id="type_subparam">
                            {% for t in types %}
                                <option value="{{ t | first }}">{{ t | last }}</option>
                            {% endfor %}
                        </select>

                    </label>
                </div>
            </div>
            <div id="result"></div>
        </div>



    </form>
{% endblock %}
