{% extends 'project/base.html' %}

{% block content %}
    <div class="post">
        {% if interv.published_date %}
            <div class="date">
                {{ interv.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'interv_edit' pk=interv.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ interv.name }}</h1>
        <p>{{ interv.annotation|linebreaksbr }}</p>
    </div>
{% endblock %}