{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/interv_list.css' %}">
{% endblock %}
{% block content %}
    <div class="col-8">
        </a>
        <a href="{% url 'interv_add' %}" style="font-size: 24px">
            <button type="button" class="btn">
                <span class="fas fa-plus add_subparam"></span> Добавить
            </button>

        </a>
        {% for interv in intervs %}
            <div class="interv">
                <div class="date">
                    {{ interv.published_date }}
                </div>
                <h3><a href="{% url 'interv_detail' pk=interv.pk %}" class="header">{{ interv.name }}</a></h3>
                <p>{{ interv.annotation|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}