{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/interv_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="post col-8">
            <div class="p-3 mb-2 info">
                <div class="date">
                    {{ interv.published_date }}
                </div>
                <h2>{{ interv.name }}</h2>
                <p><b>Аннотация: </b> {{ interv.annotation|linebreaksbr }}</p>
                {% for sb in subvalues %}
                    <div class="param">
                        <b>{{ sb.param.name }}</b>:

                        {% if sb.is_number %}
                            {{ sb.value }} <br>
                        {% endif %}

                        {% if sb.is_text %}
                            {{ sb.text }}<br>
                        {% endif %}

                        {% if sb.is_file %}
                            <a href="{{ sb.file.url }}" download>{{ sb.filename }}</a>
                        {% endif %}

                        {% if sb.is_image %}
                            <br>
                            <a href="{{ sb.file.url }}"> <img href="{{ sb.file.url }}"
                                                              src="{{ sb.file.url }}" class="img-responsive"/>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-4 research">
            <div class="p-3 mb-2 research_list">
                <div class="row">
                    <h4>&nbsp;Исследования</h4>
                    {#                    <a href="{% url 'add_research' interv.pk %}">#}
                    {#                        <span class="fas fa-plus add_etap"></span>#}
                    {#                    </a>#}
                    <button class="btn add_research" data-toggle="modal" data-target="#exampleModalCenter"><i
                            class="fas fa-plus add_etap"></i></button>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Назначение лиц</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-12 p-3 mb-2 bg-light text-dar">
                                        <label for="exampleFormControlSelect1">Ответственный</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            {% for user in users %}
                                                <option>{{ user.fullname }}</option>
                                            {% endfor %}
                                        </select>

                                        {% for s in stages %}
                                            <h6>{{ s.name }}</h6>
                                            <div class="form-group stage"  id="{{ s.pk }}">
                                                <label for="exampleFormControlSelect1">Исполнитель</label>
                                                <select class="form-control">
                                                    {% for user in users %}
                                                        <option class="executor" id="{{ user.pk }}">{{ user.fullname }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endfor %}
                                        <div class="text-center">

                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" id="assign" name="singlebutton"
                                            class="btn btn-save btn-primary">
                                        Назначить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="

                            {% if templ %}{% url 'template_detail' interv.pk %}{% else %}{% url 'create_template' interv.pk %}{% endif %}">
                        <button type="button" class="template btn">Шаблон</button>
                    </a>

                    <ul class="researches">
                        {% for r in researches %}
                            <li>
                                <div class="r">
                                    <a href="{% url 'research_detail' interv.pk r.pk %}"> {{ r.name }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".container-fluid").on('click', '#assign', function () {
                console.log("TEST");
                var stages = [];

                var s = document.getElementsByClassName("stage");
                for (j = 0; j < s.length; j++) {
                    console.log(s[j].id);
                    var tmp = {
                        "pk": s[j].id,
                        "executor": s[j].getElementsByClassName('executor')[0].id
                    };
                    stages  .push(tmp);
                }
                console.log(result);
                $.ajax({
                    type: "post",
                    data: result,
                    success: function (response) {
                        window.location = "http://127.0.0.1:8000/our_researches";
                    }
                });
            });

        });
    </script>

{% endblock %}

