{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/our_researches.css' %}">
{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="template col-11">
            <div class="row justify-content-md-center">
                <form class="form-inline search" method="get" action=".">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input size="80" type="text" class="form-control" name="title_contains"
                               placeholder="Поиск...">
                    </div>
                </form>

            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Исследование</th>
                    <th scope="col">Интервенция</th>
                    <th scope="col">Статус</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for r in researches %}
                    <tr>
                        <th scope="row" class="number"></th>
                        <td>
                            <a href="{% url 'research_detail' r.template.intervention.pk r.pk %}"> {{ r.name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'interv_detail' r.template.intervention.pk %}"> {{ r.template.intervention.name }}</a>
                        </td>
                        <td>
                            <h5>
                                {% if r.status == 'completed' %}
                                    <span class="badge badge-success">
                                {% elif r.status == 'in work' %}
                                    <span class="badge badge-warning">
                                {% elif r.status == 'canceled' %}
                                    <span class="badge badge-danger">
                                {% endif %}
                                {{ r.get_status_display }}</span>
                            </h5>
                        </td>
                        <td>
                            {% if r.status == 'in work' %}
                                <a href="intervention/{{ r.intervention.pk }}/fill_research/{{ r.pk }}">
                                    <button type="button" class="btn-sm btn-fill btn">Заполнить</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".number").each(function (index) {
                let num = index + 1;
                $(this).text(num);
            });
        });
    </script>
{% endblock %}