{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/research_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="research col-10">
            <div class="p-3 mb-2 info">
                <h2>{{ interv.name }}</h2>
                <h3>{{ research.name }}</h3>
                {% for p in params_value %}
                    <div class="param">
                        <b>{{ p.param.name }}</b>:

                        {% if p.is_number %}
                            {{ p.value }} <br>
                        {% endif %}

                        {% if p.is_text %}
                            {{ p.text }}<br>
                        {% endif %}

                        {% if p.is_file %}
                            <a href="{{ p.file.url }}" download>{{ p.filename }}</a>
                        {% endif %}

                        {% if p.param.is_image %}
                            <br>
                            <a href="{{ p.file.url }}"> <img href="{{ p.file.url }}"
                                                             src="{{ p.file.url }}" class="img-responsive"/>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="template col-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Исследование
                        <a href="{% url 'add_research' interv.pk %}">
                            <span class="fas fa-plus add_etap"></span>
                        </a></th>
                    <th scope="col">Период проведения</th>
                    <th scope="col">Эффективность</th>
                </tr>
                </thead>
                <tbody>
                {% for r in researches %}
                    <tr>
                        <th scope="row" class="number"></th>
                        <td><a href="{% url 'research_detail' interv.pk r.pk %}"> {{ r.name }}</a></td>
                        <td>23.03.2020 - 30.04.2020</td>
                        <td>{{ r.effect }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".number").each(function (index) {
                let num = index + 1;
                $(this).text(num);
            });
        });
    </script>
{% endblock %}