{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/research_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="research col-10">
            <div class="p-3 mb-2 info">
                <h4>Исследование "{{ research.name }}"                             {% if research.status == 'in work' %}
                    <a href="/intervention/{{ research.intervention.pk }}/fill_research/{{ research.pk }}">
                        <button type="button" class="btn-sm btn-fill btn">Заполнить</button>
                    </a>
                {% endif %}</h4>
                <a href="{% url 'interv_detail' interv.pk %}"
                   style="color: grey; margin-top: 10em">{{ interv.name }}</a>
                <hr>
                {% for p in params_value %}
                    <div class="param">
                        <b>{{ p.param.name }}</b>:

                        {% if p.is_number %}
                            {{ p.value }} <br>
                        {% endif %}

                        {% if p.is_text %}
                            {{ p.text }}<br>
                        {% endif %}

                        {% if p.is_file %}
                            <a href="{{ p.file.url }}" download>{{ p.filename }}</a>
                        {% endif %}
                        {% if sb.is_image %}
                            <br>
                            <a href="{{ sb.file.url }}"> <img href="{{ sb.file.url }}"
                                                              src="{{ sb.file.url }}" class="img-responsive"/>
                            </a>
                        {% endif %}

                        {% if p.is_image %}
                            <br>
                            <a href="{{ p.image.url }}"> <img href="{{ p.image.url }}"
                                                              src="{{ p.image.url }}" class="img-responsive"/>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
                <b> <a href="{{ research.template.protocol.url }}"
                       download><i class="fas fa-file-alt"></i> Протокол исследования</a></b>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Задача</th>
                        <th scope="col">Ответственный</th>
                        <th scope="col">Отчет</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in tasks %}
                        <tr>
                            <th scope="row" class="number"></th>
                            <td>{{ t.taskstage.name }}</td>
                            <td><a href="" download>{{ t.responsible.fullname }}</a></td>
                            <td>
                                {% if t.is_completed == False %}
                                    <h5>
                                        <span class="badge badge-warning">В работе</span>
                                    </h5>
                                {% else %}
                                    <a href="{{ t.report.url }}" download>{{ t.report }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {#    <div class="row justify-content-md-center">#}
    {#        <div class="template col-10">#}
    {#            <table class="table">#}
    {#                <thead>#}
    {#                <tr>#}
    {#                    <th scope="col">#</th>#}
    {#                    <th scope="col">Исследование#}
    {#{% comment %}                        <a href="{% url 'add_research' interv.pk %}">#}
    {#                            <span class="fas fa-plus add_etap"></span>#}
    {#                        </a></th>{% endcomment %}#}
    {#                    <th scope="col">Период проведения</th>#}
    {#                    <th scope="col">Эффективность</th>#}
    {#                </tr>#}
    {#                </thead>#}
    {#                <tbody>#}
    {#                {% for r in researches %}#}
    {#                    <tr>#}
    {#                        <th scope="row" class="number"></th>#}
    {#                        <td><a href="{% url 'research_detail' interv.pk r.pk %}"> {{ r.name }}</a></td>#}
    {#                        <td>23.03.2020 - 30.04.2020</td>#}
    {#                        <td>{{ r.effect }}</td>#}
    {#                    </tr>#}
    {#                {% endfor %}#}
    {#                </tbody>#}
    {#            </table>#}
    {#        </div>#}
    {#    </div>#}


    <script type="text/javascript">
        $(document).ready(function () {
            $(".number").each(function (index) {
                let num = index + 1;
                $(this).text(num);
            });
        });
    </script>
{% endblock %}