{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/template_create.css' %}">
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="post col-8" style="">
            <div class="p-3">
                <div id="templ_params">
                    <h4>Создание шаблона исследования для интервенции "{{ interv.name }}"</h4>
                <hr>
                    <p class="instruction">Прикрепите протокол проведения исследования. Добавьте параметры исследования
                        необходимые для отображения на платформе и расчета эффективности интервенции
                    </p>
                     <label>Протокол
                        <input type="file" class="file-upload" name="protocol">
                    </label>

                    <div class="col-xs-12">
                        <a href="#">
                            <span class="fas fa-plus add_templ_param"></span>
                        </a>
                    </div>
                    <div class="templ_param d-block" id="templ_param_1">
                        <div class="row" style="margin-left: 1.5em;">
                            <div class="form-group col-md-6">
                                <label style="font-size: 19px;">Название
                                    <input class="form-control param_name" type="text" id="sub_text">
                                </label>
                            </div>
                            <div class="form-group col-md-3">
                                <label style="font-size: 19px;">Тип данных
                                    <select style="font-size: 19px; font-weight: lighter"
                                            class="form-control type_templ_param"
                                            id="type_templ_param">
                                        {% for t in types %}
                                            <option value="{{ t | first }}">{{ t | last }}</option>
                                        {% endfor %}
                                    </select>

                                </label>
                                <a href="#" class="close delete_templ_param" aria-label="Close"
                                   role="button">&times;</a>

                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="submit" name="singlebutton" class="btn btn-save">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            $('.container-fluid').on('click', '.delete_templ_param', function () {
                var id = $(this).parent().parent().attr("id");
                var total_element = $("#" + id + ".templ_param").length;
                if (total_element !== 1) {
                    $(this).parent().parent().remove();
                }
            });

            $('.container-fluid').on('click', '.add_templ_param', function () {
                var lastid = $(".templ_param:last").attr("id");
                var id = "templ_param_" + (Number(lastid.split('_')[2]) + 1);
                console.log(id);

                $("#" + $("#" + $(this).parent().parent().parent().attr("id") + " .templ_param:last").attr("id")).after("<div class=\"templ_param d-block\" id=\"" + id + "\"></div>");
                $("#" + id).append("<div class=\"row\" style=\"margin-left: 1.5em;\">\n" +
                    "                    <div class=\"form-group col-md-6\">\n" +
                    "                        <label style=\"font-size: 19px;\">Название\n" +
                    "                            <input style=\"font-size: 19px; font-weight: lighter\" class=\"form-control param_name\" type=\"text\"\n" +
                    "                                   id=\"sub_text\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-3\">\n" +
                    "                        <label style=\"font-size: 19px;\">Тип данных\n" +
                    "                            <select style=\"font-size: 19px; font-weight: lighter\" class=\"form-control type_templ_param\"\n" +
                    "                                    id=\"type_templ_param\">\n" +
                    "                                {% for t in types %}\n"+
                        "                                    <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                {% endfor %}\n" +
                    "                            </select>\n" +
                    "\n" +
                    "                        </label>\n" +
                    "<a href=\"#\" class=\"close delete_templ_param\" style=\"color: red;font-size: 34px; \" aria-label=\"Close\"\n" +
                    "                   role=\"button\">&times;</a>\n" +
                    "                    </div>\n" +
                    "                </div>");

            });

            $(".container-fluid").on('click', '#submit', function () {
                var templ_params = $(".templ_param");
                var data_templ_params = [];
                var protocol = ($('input[type=file]')[0].files[0]);
                var formdata = new FormData();
                formdata.append('protocol', protocol);
                for (j = 0; j < templ_params.length; j++) {
                    var n = "name_".concat(j);
                    var t = "type_".concat(j);
                    formdata.append(n, $(templ_params[j]).find("#sub_text").val());
                    formdata.append(t, $(templ_params[j]).find("#type_templ_param").val());
                    var tmp = {
                        "name": $(templ_params[j]).find("#sub_text").val(),
                        "type_templ_param": $(templ_params[j]).find("#type_templ_param").val(),
                    };
                    {#formdata.append(j.toString(), tmp)#}
                    {#data_templ_params.push(tmp);#}
                    console.log(formdata)
                }

                var result = {
                    {#"templ_params": data_templ_params,#}
                    "protocol": protocol
                };

                console.log(formdata);
                $.ajax({
                    type: "post",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        window.location = "http://127.0.0.1:8000/intervention/".concat({{ interv.pk }}).concat("/create_formula");
                    }
                });
            });

        });
    </script>


{% endblock %}