{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/template_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="template col-10">
            <div class="p-3 mb-2">
                <h4>Шаблон исследования для интервенции "{{ interv.name }}"</h4>
                <br>
                <h5>Параметры:</h5>
                <ul>
                    {% for param in templ_params %}
                        <li>
                            <div class="r">
                                {{ param.name }}
                            </div>
                        </li>

                    {% endfor %}
                </ul>
                <b>Формула расчета эффективности: </b>{{ template.formula }}

            </div>
        </div>
    </div>


    <div class="row justify-content-md-center">
        <div class="col-10 research">
            <div class="p-3 mb-2 row">
                <h4>&nbsp;Исследования</h4>
                <a href="{% url 'add_research' interv.pk %}">
                    <span class="fas fa-plus add_subparam"></span>
                </a>
            </div>
            <div class="row">
                <ul>
                    {% for r in researches %}
                        <li>
                            <div class="r">
                                <a href="add_research.html"> {{ r.name }}</a>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>



{% endblock %}