{% extends 'project/base.html' %}
{% load static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/template_create.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="post col-8">
            <div class="p-3 mb-2 bg-light text-dark">
                <div id="templ_params">
                    <h4>Создание шаблона исследования для интервенции "{{ interv.name }}"</h4>
                    <p class="instruction">Добавьте параметры необходимые для отображения на платформе и расчета
                        эффективности интервенции
                    </p>
                    <div class="col-xs-12">
                        <a href="#">
                            <span class="fas fa-plus add_templ_param"></span>
                        </a>
                    </div>
                    <div class="templ_param d-block" id="templ_param_1">
                        <a href="#" class="close delete_templ_param" aria-label="Close" role="button">&times;</a>
                        <div class="row" style="margin-left: 10px;">
                            <div class="form-group col-md-5">
                                <label style="font-size: 20px;">Название
                                    <input class="form-control" type="text" id="sub_text">
                                </label>
                            </div>
                            <div class="form-group col-md-3">
                                <label style="font-size: 20px;">Тип данных
                                    <select style="font-size: 20px; font-weight: lighter"
                                            class="form-control type_templ_param"
                                            id="type_templ_param">
                                        {% for t in types %}
                                            <option value="{{ t | first }}">{{ t | last }}</option>
                                        {% endfor %}
                                    </select>

                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="submit" class="save btn btn-default">Сохранить</button>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">

        $(document).ready(function () {
            $('.container-fluid').on('click', '.delete_templ_param', function () {
                var id = $(this).parent().parent().attr("id");
                var total_element = $("#" + id + ".templ_param").length;
                if (total_element !== 1) {
                    $(this).parent().remove();
                }
            });

            $('.container-fluid').on('click', '.add_templ_param', function () {
                var lastid = $(".templ_param:last").attr("id");
                var id = "templ_param_" + (Number(lastid.split('_')[2]) + 1);
                console.log(id);

                $("#" + $("#" + $(this).parent().parent().parent().attr("id") + " .templ_param:last").attr("id")).after("<div class=\"templ_param d-block\" id=\"" + id + "\"></div>");
                $("#" + id).append("<a href=\"#\" class=\"close delete_templ_param\" style=\"color: red;font-size: 34px; \" aria-label=\"Close\"\n" +
                    "                   role=\"button\">&times;</a>\n" +
                    "                <div class=\"row\" style=\"margin-left: 10px;\">\n" +
                    "                    <div class=\"form-group col-md-5\">\n" +
                    "                        <label style=\"font-size: 20px;\">Название\n" +
                    "                            <input style=\"font-size: 20px; font-weight: lighter\" class=\"form-control\" type=\"text\"\n" +
                    "                                   id=\"sub_text\">\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                    <div class=\"form-group col-md-3\">\n" +
                    "                        <label style=\"font-size: 20px;\">Тип данных\n" +
                    "                            <select style=\"font-size: 20px; font-weight: lighter\" class=\"form-control type_templ_param\"\n" +
                    "                                    id=\"type_templ_param\">\n" +
                    "                                {% for t in types %}\n"+
                        "                                    <option value=\"{{ t | first }}\">{{ t | last }}</option>\n"
                        +
                        "                                {% endfor %}\n" +
                    "                            </select>\n" +
                    "\n" +
                    "                        </label>\n" +
                    "                    </div>\n" +
                    "                </div>");

            });

            $(".container-fluid").on('click', '#submit', function () {
                var templ_params = $(".templ_param");
                var data_templ_params = [];
                for (j = 0; j < templ_params.length; j++) {
                    var tmp = {
                        "name": $(templ_params[j]).find("#sub_text").val(),
                        "type_templ_param": $(templ_params[j]).find("#type_templ_param").val(),
                    };
                    data_templ_params.push(tmp);
                }
                var result = {"templ_params": data_templ_params, csrfmiddlewaretoken: '{{ csrf_token }}'};
                $.ajax({
                    type: "post",
                    data: result,
                    success: function (response) {
                        window.location = "http://127.0.0.1:8000/intervention/".concat({{ interv.pk }}).concat("/create_formula");
                    }
                });
            });

        });
    </script>


{% endblock %}