.close {
    color: red;
    font-size: 34px;
    margin-right: 50px;
}

.param_name {
    width: 120%;
}

.col-xs-12 {
    margin-left: 10px;
}

.form-control {
    font-size: 18px;
    font-weight: lighter;
}

select, label {
    font-size: 18px;
}

.btn {
    width: 150px;
    background-color: #2e009d;
}

.fa-plus {
    color: #2e009d;
    font-size: 24px;
}