.post {
    margin-top: 1em !important;
}

.oper, .func, .numb {
    margin-top: 1em;
}

.btn-save {
    background-color: #2e009d;
}
.for_sign {
    font-size: 20px;
    width: 2em;
}

#field_numb {
    width: 130px;
}

.back {
    float: right;
}

.save-btn {
    text-align: center;
    margin: auto;
}