.oper, .func, .numb {
    margin-top: 1em;
}

.btn-save {
    background-color: #2e009d;
}

.modal_formula {
    padding-top: 2em;
}

.base {
    padding-top: 1em;
}
h4 {
    margin-top: 0.6em;
}
.for_sign {
    font-size: 20px;
    width: 2em;
}

#field_numb {
    width: 130px;
}

.back {
    float: right;
}

.save-btn {
    text-align: center;
    margin: auto;
}

.operat {
    background-color: #b8b8b8;
}