.row {
    margin-top: 10px;
}

.fa-plus {
    color: #2e009d;
    font-size: 18px;
}

.researches {
    padding-top: 1em;
}
.research {
    margin-left: -20px !important;
}

img {
    max-width: 50%;
}

.fa-plus {
    margin-left: 10px;
    margin-top: 7px;
}

.info, .research_list {
    background-color: rgba(0, 176, 255, 0.11);
}

h3 {
    margin-left: 10px;
}

.template {
    margin-left: 100px;
    background-color: #2e009d;
    color: white;
}

a {
    font-size: 16px;
}

.r {
    width: 100%;
}