.row {
    margin-top: 10px;
}

.fa-plus {
    color: #2e009d;
    font-size: 18px;
}

.research {
    margin-left: -20px !important;
}

.responsible {
    width: 120% !important;
}

img {
    max-width: 50%;
}

.info, .research_list {
    background-color: rgba(0, 176, 255, 0.11);
}

.add_research {
    background-color: transparent;
}
h3 {
    margin-left: 10px;
}

.template {
    margin-left: 5em;
    background-color: #2e009d;
    color: white;
}

.fa-plus {
    padding-bottom: 1em;
}
a {
    font-size: 16px;
}

.r {
    width: 100%;
}