h3 {
    text-align: center;
}

.btn {
    margin-top: 10px;
    background-color: #2e009d;
    color: white;
}

.login_form {
    position: absolute;
    top: 25%;
    margin-top: -0.625em;
}

.logout {
    /* или */
    margin-left: auto;
}