.row {
    margin-top: 10px;
}

.btn-fill {
    position: absolute;
    right: 3em;
    top: 2em;
    background-color: #2e009d;
    color: white;
}

.research {
    margin-left: -20px !important;
}

img {
    max-width: 50%;
}

.fa-plus {
    margin-left: 10px;
    margin-top: 7px;
}


img {
    max-width: 20%;
}

.info, .research_list {
    background-color: rgba(0, 176, 255, 0.11);
}

h3 {
    margin-left: 10px;
}

a {
    font-size: 16px;
}

.r {
    width: 100%;
}