.instruction {
    font-size: 11pt;
    color: #5c5c5c;
}

.post {
    background-color: rgba(225, 225, 225, 0.51);
}

.close {
    color: red;
    font-size: 34px;
}

.fa-plus {
    color: #2e009d;
    font-size: 24px;
}

.btn-save {
    background-color: #2e009d;
    color: white;
}

.param_name {
    width: 130%;
}

.col-xs-12 {
    margin-left: 10px;
}

.form-control {
    font-size: 19px;
    font-weight: lighter;
}

