.instruction {
    font-size: 11pt;
    color: #5c5c5c;
}

.post {
    margin-top: 1em;
}

.close {
    color: red;
    font-size: 34px;
}

.fas {
    font-size: 24px;
}

.fa-plus {
    color: #2e009d;;
}

.btn-save {
    background-color: #2e009d;
    color: white;
}

.col-xs-12 {
    margin-left: 10px;
}

.form-control {
    font-size: 20px;
    font-weight: lighter;
}